html, body, header, table, footer {
  margin: 0;
  padding: 0;
}

.vermelho {
  color: #F00;
}

.amarelo {
  color: #FFC700;
}

.azul {
  color: #0B61A4;
}

.verde {
  color: #008209;
}

.preto {
  color: #000;
}